# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
**/.vscode/*
!frontend/.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# 忽略 Spring Boot 的 application.yml 配置文件
backend/src/main/resources/application.yml
backend/src/main/resources/application-*.yml
backend/target/
frontend/.env*
/.env*
runtime/

接口文档.doc
